.max-context {
  width: 375px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
}

.mobile-header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 48px;
}

.mobile-header a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ff6b00;
  padding: 120px 24px;
  background-color: #1c1a19;
  background-image: url('images2/img1.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.blacktitle {
  color: black;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ff6b00;
  padding: 120px 24px;
  background-color: #1c1a19;
  background-image: url('images2/img1.png');
  background-repeat: no-repeat;
  background-position: 100% 25%;
}

.bg-page {
  background-color: white;
  background-image: url('Placeholder2.png');
  background-repeat: no-repeat;
  background-position: 40% 100%;
  margin: 24px;
  padding-top: 20px;
}

h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  color: #ff6b00;
  font-weight: 400;
  font-size: 56px;
  margin: 24px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding-top: 40px;
  font-size: 25px;
  color: white;
  margin: 24px;
}

.bk-title h3 {
  color: black;
}

.my-works1 {
  margin: 24px;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #fff5e1;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 24px;
}

.social {
  display: flex;
  list-style-type: none;
}

.languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 5vh;
  padding: 10px 10px;
}

.languages li {
  margin: 10px 10px 10px 0;
  border: 0.5px solid #8993a4;
  box-sizing: border-box;
  padding: 12px 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #dbdfe6;
  list-style-type: none;
}

.my-works1 ul {
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
  padding: 10px 10px;
}

button {
  justify-content: center;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  color: #fff;
  height: 48px;
  width: 100%;
  border: none;
}

button:hover,
.icon:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #ff5800;
}

button:active {
  background: #e05304;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

button:disabled {
  background-color: #f4f1f0;
}

.my-works1 p {
  color: #091e42;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #fff5e1;
}

.about-me ul li {
  display: list-item;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  list-style-type: none;
  padding: 0;
}

.about-me ul {
  padding: 0;
}

.titles2 ul {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  list-style-type: none;
}

.about-me h4 {
  font-size: 32px;
}

.button-about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  margin-right: 37%;
}

.languages-sp {
  padding-top: 20%;
}

.about-me img {
  margin: 0 12px;
}

form,
.name,
.email,
.text-area,
.social {
  width: 100%;
  padding: 12px 0;
  margin: 16px 0;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  outline: none;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.text-area {
  background: #fbf8f7;
  outline: none;
}

.form button,
hr,
.social {
  width: 50%;
  margin-left: 25%;
}
